body {
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NCUiIHN0b3AtY29sb3I9IiNjYmViZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYTFkYmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 10%, rgba(203,235,255,1) 54%, rgba(161,219,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(255,255,255,1)), color-stop(54%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(203,235,255,1) 54%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(203,235,255,1) 54%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(203,235,255,1) 54%,rgba(161,219,255,1) 100%); /* IE10+ */
background: linear-gradient(to top, rgba(255,255,255,1) 10%,rgba(203,235,255,1) 54%,rgba(161,219,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-8 */
}
.loginfront{
	margin: 15% 0 0 !important;
	padding: 30px 0 !important;
}
.loginright form input[type="text"],.loginright form input[type="password"]{
	height:20px;
	margin:10px 0;
	float:right;
	background: #ffffff;
	width:95%;
}
.loginright form input[type="password"]{

}
.loginright div.forgot{
	color:#24668d;
	float:left;
	margin:10px 0 0 0;
	padding:6px 0 0 0;
	cursor:pointer;
}
.loginright div.daftarsekolah{
	background: none repeat scroll 0 0 #449BCF;
	border-radius: 5px;
	color: #FFFFFF;
	float: right;
	height: 29px;
	margin: 20px 0 0;
	padding: 22px 10px 10px;
	text-align: center;
	vertical-align: middle;
	width: 92%;
	cursor:pointer;
}
.loginright form   input[type="submit"]{
	background: none repeat scroll 0 0 #449BCF;
	border: 1px solid rgba(0, 0, 0, 0);
	color: #FFFFFF;
	float: right;
	text-shadow: none;
}
.loginright form{
	padding:20px;
}
.loginfront  h1{
text-align:right;
}
.loginfront  h1 img{
	position: relative;
top: 2px;
}
.loginfront  div.divdesc{
	font-size: 14px;
	margin: 0px 0 0;
	padding: 10px 0;
text-align:right;
}
.loginfront  p{
text-align:right;
}
.loginright{
	height:300px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(15, 15, 15, 0.2);
}
#expand-toggle .expand {
  font-size: 12px;
}
